{% extends "index.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<h1>Sign Up</h1>

<form method="POST">
	<h3 align="center">
		Sign Up
	</h3>
	<div>
		<label for="username">Enter Email</label>
		<input 
			type="text" 
			id="email" 
			name="email" 
			class="form-control"
			placeholder="Email Address"
		/>
		<label for="username">Username</label>
		<input 
			type="text" 
			id="username" 
			name="username" 
			class="form-control"
			placeholder="Username"
		/>
		<label for="password1">Password</label>
		<input 
			type="text" 
			id="password1" 
			name="password1" 
			class="form-control"
			placeholder="Password"
		/>
		<label for="password2">Confrim Password</label>
		<input 
			type="text" 
			id="password2" 
			name="password2" 
			class="form-control"
			placeholder="Password"
		/>
		<br/>
		<div align="center">
			<button class="btn btn-primary" type="submit">Sign Up</button>
		</div>
	</div>
</form>


{% endblock %}